<div *ngIf="!isValid">
  <form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Nombre" formControlName="nombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPhone" class="col-sm-2 col-form-label">Teléfono</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="inputPhone" placeholder="Teléfono" formControlName="telefono">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-5 pr-0">
          <input id="inputDate"
            class="form-control"
            #datepickerYMD="bsDatepicker"
            bsDatepicker
            autocomplete="off"
            formControlName="fecha"
            [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }">
        </div>
        <div class="col-sm-2 ml-0 pl-0">
          <img src="../../assets/img/calendar.png"  class="calendar-icon img-fluid" alt="calendar" (click)="datepickerYMD.toggle()" [attr.aria-expanded]="datepickerYMD.isOpen">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCityState" class="col-sm-2 col-form-label">Ciudad y Estado</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="search" (keyup)="getCities()" class="form-control" list="optionCities" 
            id="inputCityState" placeholder="Ciudad y Estado" formControlName="ciudad" autocomplete="off" >
          <!-- autocomplete from cities coming from the server -->
          <div id="optionCities" *ngIf="cityOptionsBox" [hidden]="cityOptionsBox? false: true">
            <p (click)="turnBoxOff()"><small>Cerrar</small></p>
            <hr>
            <p *ngIf="cities.length == 0">No hay resultados para esa búsqueda</p>
            <p *ngFor="let city of cities" (click)="selectCity(city)">{{city.toponymName}}, {{city.adminName1}}, {{city.countryName}}</p>
          </div>
          </div>
      </div>
      <div id="buttonContainer" class="">
          <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
  </form>


  <!-- mymodel -->
  <button type="button" id="modalError" hidden class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
      
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Contacto</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se encontraron los siguientes errores en sus datos de contacto:</p>
      <ul>
        <li *ngFor="let err of errors">{{err}}</li>
      </ul>
      <p>Por favor corrija los errores para continuar</p>
      <div class="btnCloseModal">
        <button (click)="modalRef.hide()" class="btn btn-outline-primary">Ok</button>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="isValid" id="confirmationMsg">
  <div>
    <p>Estimado  <strong>{{infoForm.value.nombre}}</strong>, </p><br>
  </div>
  <div>
    <p>Hemos recibido sus datos y nos pondremos en contacto con usted en la
      brevedad posible. Enviaremos un correo con información a su cuenta: <span class="emailText">{{infoForm.value.email}}</span> </p><br>
  </div>
  <div class="justify-content-end text-right">
      <div>
        Atte.<br>
      </div>
      <div>
        <strong>Green Leaves</strong><br>
      </div>
      <div>
        {{infoForm.value.ciudad}} a {{today | date : "dd/MMM/YYYY"}} <br>
      </div>
  </div>
</div>

