form #buttonContainer {
    width: 100% ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

form #buttonContainer button{
    justify-self: center ;
}

form .form-group input{
    width: 45%;
}

form #inputDate {
    width: 90%;
}

form .calendar-icon {
    width: 34px;
    cursor: pointer;
}

/* search city box */
form #optionCities {
    padding: 1px 5px 1px 5px;
    border-color: gray;
    background-color: #f2f2f2;
    color: black;
    overflow: auto;
    width: 412px;
    height: 200px;
}

form #optionCities p {
    margin: 3px;
    cursor: pointer;
}

form #optionCities p:hover {
    color: #66a3ff;
}

form hr { 
    margin: 2px;
}

#confirmationMsg .emailText {
    color: #66a3ff;
    font-weight: bold;
    font-style: italic;
}
